@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
   

}
.container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.box{
    margin-top: 250px;
    margin-left: 150px;
    color: white;
    font-size: 1.2em;
}
.box-header{
    font-size: xxx-large;
}