@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
   

}
.container{
    display: flex;
    flex-direction: row;
}
.box,.box2{
    margin-top: 250px;
    margin-left: 150px;
    color: white;
    font-size: 1.2em;
}
.box2{
    margin-top: 100px;

    right: 100px;
    position: relative;
    width: 500px;


}
.box2-p{
    font-size: smaller;
}
.box-header{
    font-size: xxx-large;
}
.btn,.btn2{
    width: 500px;
    color: white;
    height: 50px;
    border-radius: 10px ;
    margin-bottom: 10px;}
.btn{
    background-color:blue ;
    width: -webkit-fill-available;
    

}
.btn2{
    background-color: green;
}
    form{
    display:flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 25px;
    border-radius: 10px;
}
input{
    height: 50px;
    color: hsl(246, 25%, 77%);
}
input:invalid{
    border: 2px solid red;

}
span{
    color: red;
}


  
.box2-para{
    color: hsl(246, 25%, 77%);
    font-size: small;
    position: relative;
    left:50px;
}
.footer-text{
    color:red;

}
.box21{
    display:flex;
    flex-direction: column;
    gap:10px;
}